{% extends "base.html" %}

{% block title %}
Add Product
{% endblock %}


{% block content %}

<section class="auth-page">

    <div class="form-card">

        <span class="section-tag">
            SUPPLIER
        </span>

        <h1>
            Add New Product
        </h1>

        <p class="muted">
            Add product information for vendors.
        </p>


        <form method="POST">

            <label>
                Product Name *
            </label>

            <input
                type="text"
                name="name"
                placeholder="Example: Tomatoes"
                required
            >


            <label>
                Category *
            </label>

            <input
                type="text"
                name="category"
                placeholder="Example: Vegetables"
                required
            >


            <label>
                Price per Unit *
            </label>

            <input
                type="number"
                name="price"
                step="0.01"
                min="0"
                placeholder="Example: 50"
                required
            >


            <label>
                Available Quantity *
            </label>

            <input
                type="number"
                name="quantity"
                min="0"
                placeholder="Example: 100"
                required
            >


            <label>
                Description
            </label>

            <textarea
                name="description"
                placeholder="Enter product description"
            ></textarea>


            <button
                class="button full"
                type="submit"
            >
                Add Product
            </button>

        </form>

    </div>

</section>

{% endblock %}